.posts {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/* ================= MEDIA QUERIES (MEDIUM DEVICES) ===================== */
@media only screen and (max-width: 1024px) {
    #blog {
        display: none;
    }
}

/* ================= MEDIA QUERIES (SMALL DEVICES) ===================== */
@media only screen and (max-width: 600px) {
    #blog {
        display: none;
    }
}